[submodule "vim/vim-fugitive"]
	path = vim/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = git://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/bootstrap-snippets"]
	path = vim/bundle/bootstrap-snippets
	url = git://github.com/bonsaiben/bootstrap-snippets.git
	branch = bootstrap-3-3-2
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
